<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>新手会员提醒信息</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="../templates/main/css/style.css" rel="stylesheet" type="text/css" />
	<style>
		body {
			background: #fff;
		}
	</style>
</head>

<body>

	<script language="javascript">

		function resumeerror() {
			return true;
		}
		window.onerror = resumeerror;
// -->
	</script>
	<div style="line-height:28px; color:#F00; padding:10px; width:620px; text-align:left;">
		<strong>请新来的会员注意平台基本规则：</strong><br />
		一、严禁通过旺旺聊带有平台、刷单、易赚等忌讳字眼；<br />
		二、严禁以任何理由给对方差评及非100%好评等行为；<br />
		三、严禁使用任何欺骗、恐吓等办法骗取对方资金或存款；<br />
		四、严禁任何会员在申请试用过程中故意拖延时间；<br />
		五、严禁好评乱写评语，广告评语或恶意乱写评语；<br />
		六、严禁线下以各种理由要求买手增拍多个商品；<br />
		七、严禁买手使用淘宝客链接赚取佣金或使用信用卡等购买商品；<br />
	</div>

	<div style="padding-left:10px;">
		<span class="blue">注：以上一至三点违反任何一条，一经核实作封号处理！其他视情节严重作处罚！<br />
			<strong>请认真对待,谢谢</strong></span>
	</div>
	<br />
</body>

</html>