{{include 'default/public/header.html'}}

<body>



    <!--Header-->
    {{include 'default/public/topbar.html'}}

    <!--/Header-->

    <div class="section clearfix" id="spreadApp">
        <div class="line30"></div>
        <div class="info-wrap">
            <!--左侧导航-->
            {{include 'default/public/leftnav.html'}}

            <!--/左侧导航-->
            <!--右侧内容-->
            <div class="home-box">

                <!--推广赚钱-->

                <!--/推广赚钱-->
                <!--我推广的用户-->

                <div class="u-tab-head">
                    <p>
                        <a href='spread'>推广赚钱</a>
                        <a class="selected" href='list'>我推广的用户</a>
                        <a href='../commissions/list.html'>佣金明细</a>
                    </p>
                </div>
                <div class="u-tab-content" id="bind_setting">
                    <div class="title-div">
                        <strong>我推广的用户</strong>
                    </div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mtable">
                        <tr>
                            <td align="center">用户名</td>
                            <td align="center">他发展下线</td>
                            <td align="center">应得资金/佣金</td>
                            <td align="center">注册时间</td>
                            <td align="center">最后登录时间</td>
                        </tr>
                        <!--取得一个DataTable-->
                        <!--取得分页页码列表-->

                        <!-- <template v-if="fans.length">
                            <tr v-for="item in fans">
                                <td align="center">{{item.username}}</td>
                                <td align="center">{{item.children.username || '--'}}</td>
                                <td align="center">{{item.commission}}</td>
                                <td align="center">{{item.created_at}}</td>
                                <td align="center">{{item.login_time}}</td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr>
                                <td colspan="9" align="center">暂无记录...</td>
                            </tr>
                        </template> -->

                    </table>
                    <div class="page-foot">
                        <div class="flickr right"></div>
                        <!--放置页码列表-->
                    </div>
                </div>

                <!--/我推广的用户-->

            </div>
            <!--/右侧内容-->
        </div>
    </div>

    <script src="../../templates/main/js/scripts/spreadlist.js"></script>
    <!--Footer-->
    {{include 'default/public/footer.html'}}