{{include 'default/public/header.html'}}
<link rel="stylesheet" type="text/css" href="/default/css/pagination.css" />
<link href="/default/style/css/task.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="/default/css/jquery.tipsy.css">
<script type="text/javascript" src="/default/style/js/common.js"></script>

<body>

    <!--Header-->
    {{include 'default/public/topbar.html'}}
    <!--/Header-->
    <div class="clear"></div>
    <form method="post" id="form1" onsubmit="location.reload(); return false;">
        <div class="clear"></div>
        <!-- 中间内容外围 -->
        <div class="task_content">
            <!-- 列表头 -->
            <div class="taskHall">
                <ul class="task_tab">
                    <!-- 中间子导航 -->
                    <li id="tab_m1" class="current">
                        <a href="index">
                            <span>任务大厅</span></a>
                    </li>
                    <li>
                        <a href="jie"><span>已参与任务</span>
                        </a>
                    </li>
                </ul>
                <div class="clear"></div>
                <ul class="search">
                    <li>任务搜索：
                        <select name="ddlSearchType" id="ddlSearchType">
                            <option value="1">任务编号</option>
                            <option value="2">发布人</option>

                        </select>
                        <input name="txtKeyWord" type="text" maxlength="20" id="txtKeyWord" class="text" />
                        <input type="image" name="ibtnSubmit" id="ibtnSubmit" src="/default/style/images/search.gif"
                            align="absmiddle" />
                    </li>
                    <li class="task_refresh_button">
                        <input id="AutoRefresh" type="checkbox" name="AutoRefresh" class="checkbox" />
                        <label title="勾上每隔10秒自动刷新" for="AutoRefresh">自动刷新页面</label>&nbsp;
                        <img src="/default/style/images/task_reflesh.gif" align="absmiddle" style="cursor: pointer;"
                            onclick="window.location.reload();" title="刷新本页面">
                    </li>
                </ul>
                <ul class="search category-tab">
                    <li style="margin: 0;">任务类型：</li>
                    <li class="curr"><a href="javascript:;">全部</a></li>
                    <li><a href="javascript:;">淘宝天猫</a></li>
                    <li><a href="javascript:;">京东</a></li>
                </ul>
                <ul class="screening">
                    <li>筛选方式：
                        <select name="ddlOrderby" id="ddlOrderby" style="margin-right: 10px;">
                            <option selected="selected" value="0">默认排序</option>
                            <option value="1">担保金额从高到低</option>
                            <option value="2">担保金额从低到高</option>
                            <option value="3">发布点从高到低</option>
                            <option value="4">发布点从低到高</option>
                            <option value="5">按最新发布时间排序</option>
                            <option value="6">按发布时间倒序</option>

                        </select>
                        <span id="orderFields" class="orderSub">
                            <a class="active" href="javascript:;">所有任务</a>
                            <a href="javascript:;">等待接手</a>
                            <a href="javascript:;">【虚拟】</a>
                            <a href="javascript:;">【实物】</a>
                            <a href="javascript:;">【套餐】</a>
                            <a href="javascript:;">立即</a>
                            <a href="javascript:;">30分</a>
                            <a href="javascript:;">1天</a>
                            <a href="javascript:;">2天</a>
                            <a href="javascript:;">3天</a>
                            <a href="javascript:;">4天</a>
                            <a href="javascript:;">5天</a>
                            <a href="javascript:;">6天</a>
                            <a href="javascript:;">7天</a>
                        </span>
                    </li>
                </ul>
            </div>
            <!-- /列表头 -->

            <!-- 列表内容 -->
            <div id="task_list_wrap rankings-wrap">
                <!--统计排名-->
                <div class="red rough" style="font-size: 30px;margin: 25px auto;text-align: center;">电脑端不支持接单，请下载APP
                </div>
                <div
                    style="display: flex;justify-content: center;background:#ebf5ff;padding: 40px;border: 1px solid #ACDAFF;">
                    <div class="pf_lcon" style="text-align:center;margin-right: 150px;">
                        <p style="color: #666;padding-bottom: 20px;font-weight: bold;font-size: 20px;">安卓手机APP下载</p>
                        <img src="/default/css/image/app_qrcode.png" width="150">
                    </div>
                    <div class="pf_lcon" style="text-align:center;">
                        <p style="color: #F50;padding-bottom: 20px;font-weight: bold;font-size: 20px;">苹果手机APP下载</p>
                        <img src="/default/css/image/app_qrcode2.png" width="150">
                        <p style="color: #666;padding-top:10px;"><span class="red">苹果机安装步骤：</span>扫码下载“轻云”安装</p>
                        <p style="color: #666;padding-top:10px;">打开再点输入框的扫码，再扫一次上图二维码即可。</p>
                    </div>
                </div>
                <!--/统计排名-->
            </div>

            <!-- /列表内容 -->

            <div class="multipage">
                <div id="PageContent" class="redwhite"></div>
            </div>

            <!-- ad -->
            <div class="fajie_task_flow clearfix">
                <div class="fa">
                    <p>掌柜发布任务流程</p>
                    <img src="/default/images/ad/task_fabu.png" width="1030" height="104" alt="">
                </div>
                <div class="jie">
                    <p>试客接手任务流程</p>
                    <img src="/default/images/ad/task_jie.png" width="1030" height="104" alt="">
                </div>
            </div>

        </div>
        <!-- /中间内容外围 -->
    </form>
    <script type="text/javascript" src="/default/scripts/jquery/jquery.tipsy.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.td_center img').tipsy();
            $('.category-tab').on('click', 'li', function () {
                $(this).siblings().removeClass('curr');
                $(this).addClass('curr');
            })
            $('.orderSub').on('click', 'a', function () {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
            })

            //自动刷新
            function TaskAutoRefresh() {
                if ($('#AutoRefresh').prop("checked")) {
                    setCookie("Index_AutoRefresh", "yes");
                    window.location.reload();
                } else {
                    setCookie("Index_AutoRefresh", "");
                }
                window.setTimeout(TaskAutoRefresh, 10000);
            }
            if (getCookie("Index_AutoRefresh") == "yes") {
                $('#AutoRefresh').prop("checked", true);
            }
            window.setTimeout(TaskAutoRefresh, 10000);
        });
    </script>


    {{include 'default/public/footer.html'}}