{{include 'default/public/header.html'}}
<link rel="stylesheet" type="text/css" href="../../scripts/jquery-lightbox/css/jquery.lightbox-0.5.css" />
<style type="text/css">
    .form-box dl dt {
        width: 190px;
        font-size: 15px;
    }

    .u-tab-content {
        min-height: 353px;
    }

    .tips {
        line-height: 30px;
        padding: 15px 25px;
        background-color: #ebf8ff;
        border: 1px solid #c8e6ff;
    }

    .upload-box-wrap {
        width: 250px;
        float: left;
    }

    .webuploader-pick {
        width: 100px;
    }

    select {
        width: 166px;
    }

    #randomCode {
        width: 120px;
        height: 35px;
        background: #ebf8ff;
        display: inline-block;
        text-align: center;
        line-height: 35px;
        border: 1px solid #c8e6ff;
    }

    .product-url_dl .Validform_right {
        display: none;
    }

    .product-url_dl .Validform_right.check_right {
        display: inline;
    }
</style>

<body>
    <!--Header-->
    {{include 'default/public/topbar.html'}}

    <!--/Header-->


    <div class="section clearfix" id="listApp">
        <div class="line30"></div>

        <div class="info-wrap">
            <!--左侧导航-->
            {{include 'default/public/leftnav.html'}}

            <!--/左侧导航-->

            <!--右侧内容-->
            <div class="home-box">

                <div class="u-tab-head">
                    <p>
                        <a href="add">绑定买号</a>
                        <a class="selected" href="bind_account/list">买号列表</a>
                    </p>
                </div>

                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mtable" style="margin-top:20px;">
                    <tr>
                        <th align="center">活动区</th>
                        <th align="center">买号名</th>
                        <th align="center">性别/年龄</th>
                        <th align="center">买号等级</th>
                        <th align="center">今/周试用数</th>
                        <th align="center">绑定时间</th>
                        <th align="center">状态</th>
                        <th align="center">操作</th>
                    </tr>

                    <template v-if="accounts.length">
                        <tr v-for="(item, idx) in accounts">
                            <td align="center">
                                <template v-if="item.type==1">
                                    <img src="../../style/images/website_ico3.png" align="absmiddle" />
                                    京东
                                </template>
                                <template v-else>
                                    <img src="../../style/images/website_ico1.png" align="absmiddle" />
                                    淘宝天猫
                                </template>
                            </td>
                            <td align="center">{{item.name}}
                                <img v-if="item.is_real_name == 1" src="../../style/images/ShiMing.gif" height="18"
                                    align="absmiddle" title="已通过支付宝实名认证" />
                                <img v-else src="../../style/images/shiming_2.gif" height="18" align="absmiddle"
                                    title="买号未通过实名认证" />
                            </td>
                            <td align="center">{{ item.sex | filterSex }}/{{item.age | filterAge}}</td>
                            <td align="center">
                                <!-- <span class="orange">{{item.level}}</span>  -->
                                <template v-if="item.type == 1">
                                    <template v-if="item.level == 0">
                                        <img src='../../style/images/jd_v0.png' align='absmiddle' />
                                    </template>
                                    <template v-else-if="item.level == 1">
                                        <img src='../../style/images/jd_v1.png' align='absmiddle' />
                                    </template>
                                    <template v-else-if="item.level == 2">
                                        <img src='../../style/images/jd_v2.png' align='absmiddle' />
                                    </template>
                                    <template v-else-if="item.level == 3">
                                        <img src='../../style/images/jd_v3.png' align='absmiddle' />
                                    </template>
                                    <template v-else-if="item.level == 4">
                                        <img src='../../style/images/jd_v4.png' align='absmiddle' />
                                    </template>
                                </template>
                                <template v-else>
                                    <template v-if="item.level == 0">
                                        <img src='../../style/images/new.gif' align='absmiddle' />
                                    </template>
                                    <template v-else-if="item.level == 1">
                                        <img src='../../style/images/score_1.gif' align='absmiddle' />
                                    </template>
                                    <template v-else-if="item.level == 2">
                                        <img src='../../style/images/score_2.gif' align='absmiddle' />
                                    </template>
                                    <template v-else-if="item.level == 3">
                                        <img src='../../style/images/score_3.gif' align='absmiddle' />
                                    </template>
                                    <template v-else-if="item.level == 4">
                                        <img src='../../style/images/score_4.gif' align='absmiddle' />
                                    </template>
                                </template>
                            </td>
                            <td align="center">{{item.total_today_orders}} / {{item.total_week_orders}}</td>
                            <td align="center">{{item.created_at}}</td>
                            <td align="center"><span class="red">{{item.status | filterStatus}}</span></td>
                            <td align="center">
                                <a class="link_btn btnUpdate" href="javascript:;" @click="handleUpdate(idx)">更新</a>
                                &nbsp;
                                <a class="link_btn red btnDelete" @click="handelDel(idx)" href="javascript:;">删除</a>
                            </td>
                        </tr>
                    </template>
                </table>
            </div>
            <!--/右侧内容-->
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="../../scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery-lightbox/js/jquery.lightbox-0.5.min.js"></script>
    <script src="../../templates/main/js/scripts/buyerAccountList.js"></script>
    <!--Footer-->
    {{include 'default/public/footer.html'}}