<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} - 易赚</title>
    <meta name="keywords" content="易赚-接单平台,免费爆款,打造爆款,补单平台,免费排名优化，刷放单平台手机赚钱" />
    <meta name="description" content="易赚是一家专注电商打造优质品牌及爆款平台，刷补单平台专业优化淘宝排名，和销量提升平台。" />
    <link href="/default/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/default/scripts/artdialog/ui-dialog.css" />
    <link rel="stylesheet" href="/default/css2/validate.css" />
    <script type="text/javascript" charset="utf-8" src="/default/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/default/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/default/scripts/jquery/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" charset="utf-8" src="/default/js/common.js"></script>
    <script src="/default/js/vue.js"></script>
</head>