<!--左侧导航-->
<div class="side-nav">
    <div class="m-inner">
        <div class="m-userinfo">
            <div class="u-img">
                <a href="../center/avatar.html" class="u-mask">
                    <img :src="avatar" />
                </a>
            </div>
            <p class="u-name">您好！
                {{username}}
            </p>
            <div class="u-money">
                <p class="u-mooney-t">会员组：<span title="">
                        {{userLevel}} </span></p>
                <p class="u-mooney-t">账户余额：<span>{{money}}</span> 元</p>
            </div>
            <div class="u-security">
                <template v-if="mobile_authentication == 1">
                    <img src="../../style/images/mobile_1.gif" title="已通过手机认证" /> &nbsp;
                </template>
                <template v-else>
                    <img src="../../style/images/mobile.gif" title="未通过手机认证" /> &nbsp;
                </template>

                <template v-if="video_authentication == 0">
                    <a href="../auth/video.html">
                        <img src="../../style/images/video_2.gif" title="尚未通过视频认证，点击现在去认证" /> &nbsp;
                    </a>
                </template>
                <template v-else-if="video_authentication == 1">
                    <img src="../../style/images/video_2.gif" title="已经视频认证" /> &nbsp;
                </template>

                <template v-if="real_name_authentication == 0">
                    <a href="../auth/realname.html">
                        <img src="../../style/images/shiming_2.gif" title="尚未通过实名认证，点击现在去认证" /> &nbsp;
                    </a>
                </template>
                <template v-else>
                    <img src="../../style/images/ShiMing.gif" title="已实名认证" /> &nbsp;
                </template>
            </div>
        </div>
        {{if userType == '0'}}
        {{include './buyerLeftnav.html'}}
        {{else}}
        {{include './sellerLeftnav.html'}}
        {{/if}}
    </div>
</div>
<!--/左侧导航-->