<div class="m-sidecont">
    <dl>
        <dt><b class="m-icon icon-r"></b>红包任务<i></i></dt>
        <dd>
            <a href="/seller/task/add" class="s-item"><strong class="red">发布任务</strong></a>
            <a href="/seller/task/fa" class="s-item">已发布的任务</a>
            <a href="/seller/task_template" class="s-item">模板管理</a>
            <a href="/seller/bind_account" class="s-item"><span class="blue rough">绑定店铺</span></a>
            <!--<a href="" class="s-item">模板管理</a>-->
            <a href="../pingjia/2.html" class="s-item">信用评价</a>

            <a href="../appeal/apply.html" class="s-item">我要申诉</a>
            <a href="../clientunbind/index.html" class="s-item">解绑客户端</a>
        </dd>
    </dl>



    <dl>
        <dt><b class="m-icon icon-m"></b>财政中心<i></i></dt>
        <dd>
            <a href="/userCenter/amount/recharge" class="s-item"><strong class="red">账户充值</strong></a>
            <a href="/userCenter/tixian/apply" class="s-item">余额提现</a>

            <a href="/userCenter/cards/buy" class="s-item"><strong class="red">购买发布点</strong></a>

            <!--<a href="/user/score/convert.html" class="s-item">购买积分</a>-->
            <a href="/userCenter/exchange/index" class="s-item">兑换资金</a>
        </dd>
    </dl>
    <dl>
        <dt><b class="m-icon icon-d"></b>财务明细<i></i></dt>
        <dd style="display:none">
            <a href="../amount/list.html" class="s-item">资金明细</a>
            <a href="../commissions/list.html" class="s-item">佣金明细</a>
            <a href="../point/list.html" class="s-item">发布点明细</a>
            <a href="../score/list.html" class="s-item">积分明细</a>
            <a href="../userspread/list.html" class="s-item">推广明细</a>
            <a href="../tixian/list.html" class="s-item">提现记录</a>
        </dd>
    </dl>

</div>